<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PharmaConnect">
        <activity
            android:name=".Notification_activity"
            android:exported="false" />
        <activity
            android:name=".Notification_Adapter"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
        <activity
            android:name=".Pharmacie_Profile"
            android:exported="false" />
        <activity
            android:name=".Produit_pharmacie"
            android:exported="false" />
        <activity
            android:name=".Traitement_commende"
            android:exported="false" />
        <activity
            android:name=".profile_client"
            android:exported="false" />
        <activity
            android:name=".commande_client"
            android:exported="false" />
        <activity
            android:name=".carte_client"
            android:exported="false" />
        <activity
            android:name=".accueil_client"
            android:exported="false" />
        <activity
            android:name=".Ninth"
            android:exported="false" />
        <activity
            android:name=".EighthPage"
            android:exported="false" />
        <activity
            android:name=".SeventhPage"
            android:exported="false" />
        <activity
            android:name=".SixPage"
            android:exported="false" />
        <activity
            android:name=".FifthPage"
            android:exported="false" />
        <activity
            android:name=".FourthPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".Add_medicament"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>